@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root{
    --darkBlue: hsl(217, 19%, 35%);
    --desaturateBlue: hsl(2014, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightBlue: hsl(210, 46%, 95%);
    --font1: 'Manrope', sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 0.8125em;
  font-family: var(--font1);
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--lightBlue);
}
main{
  background-color: white;
  width: 85vw;
  min-height: 80vh; 
  border-radius: 10px;
  display: grid;
  overflow: hidden;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.040);
}
div.img{
  max-width: 100%;
  height: 200px;
  max-height: 100%;
}
div>img{
  width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: 100% 25%;
}
aside{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h1{
  font-size: 2.4em;
  color: var(--darkBlue);
  margin: 20px 23.6px 10px 23.6px;
}
#desc{
    font-size: 1.99em;
    color: var(--desaturateBlue);
    margin: 10px 23px 10px 23px;
    line-height: 1.5em;
}
div.container{
  font-size: 1.6em;
  display: grid; 
  grid-template-columns: 23% 62% 15%;
  grid-template-rows: 50% 50%;
  padding: 10px 23.6px 15px 23.6px;
  height: 70px;
  align-self: end;
}
.container>img{
  grid-row: 1 / 3;
  height: 45px;
  width: 45px;
  border-radius: 50%;
}
#button{
  grid-column: 3 ;
  grid-row: 1 / 2;
  width: 35px;
  height: 35px;
  padding: 10px;
  background-color: var(--lightBlue);
  border-radius: 50%;
  margin-top: 5px;
  border: none; 
}
#button:hover, #button:focus{
  background-color: var(--darkBlue) !important;
  cursor: pointer;
}
#button:hover svg>path, #button:focus svg>path{
  fill: white !important;
}
#name{
  font-size: 1.5em;
  color: var(--darkBlue);
  font-weight: 700;
}
#date{
  font-size: 1.5em;
  color: var(--grayishBlue);
}
#menu{
  flex-wrap: wrap;
  width: 100%;
  background-color: var(--darkBlue); 
  flex-direction: row;
  justify-content: flex-start;
  align-items: center; 
  display: grid;
  grid-template-columns: 35% 12% 12% 12% 14% 15%;
  padding: 10px 23.6px 15px 23.6px;
  display: none;
  height: 70px;
  align-self: end;
}
#share{
  font-size: 3.2em;
  color: var(--grayishBlue);
  letter-spacing: 0.3em;
  grid-column: 1;
  padding-left: 5px;
}
.icon{
  width: 20px;
  height: 20px;
  grid-column: 2;
}
.icon:hover path{
  fill: var(--grayishBlue);
}
#twitter{
  width: 23px;  
}
#button2{
  width: 35px;
  height: 35px;
  background-color: var(--desaturateBlue);
  padding: 10px;
  border-radius: 50%;
  grid-column: 6;
  border: none;
}
footer{
  align-self: end;
  width: 100%;
}
@media screen and (min-width: 624px) {  
  
  body{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  main{
    display: grid;
    grid-template-columns: 40% 60%;
    
    min-height: 300px;
    
    width: 750px;
    overflow: visible;
  }
  div.img{
    grid-column: 1;
    grid-row: 1;
    height: 100%;  
  }
  div.img>img{
    height: 100%;
    object-fit: cover;
    object-position: 0;
    border-radius: 10px 0 0 10px;
  }
  aside{
    grid-column: 2;
    grid-row: 1;
    padding: 10px;  
  }
  h1{
    font-size: 3em;
  }
  div.container{
    grid-column: 2;
    grid-row: 1;
    margin-right: 20px;
    grid-template-columns: 15% 75% 10%;    
  }
  #name{
    font-size: 1.5em;
  }
  #date{
    align-self: end;
    font-size: 1.5em;
    padding-bottom: 3px;
  }
  #menu{
    max-width: 1000px;
    width: 250px;
    border-radius: 10px;
    height: 55px;
    display: flex;
    justify-content: space-around;
    visibility: hidden;
    max-width: 1000px;
    position: absolute;
    bottom: 130%;
    left: 57%;
    padding: 0 30px;

  }
  
  #button{
    height: 40px;
    width: 40px;
    padding: 12px;
  }
  
  #button2{
    display: none;
  }
  #menu::after {
    content: "";
    position: absolute;
    top: 99%;
    border: 15px solid;
    border-color: var(--darkBlue) transparent transparent transparent;
  }
  footer{  
    grid-column: 2;
    grid-row: 1;
    position: relative; 
  }
  
  @media screen and (max-width: 860px) {
    #menu{
      left: 40%;
    }
    #menu::after{
      left: 75%;
    }
  }

  @media screen and (max-width: 700px) {
    #menu{
      left: 30%;
    }
    #menu::after{
      left: 80%;
    
    }
  }
   
}

